* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'abrir sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #FF9900;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    
}